/* #root {
    width: 100%;
    height: 100%;
    background-color: #b3ffc3;
}
.top-div {
    display: flex;
    justify-content: space-between;
}
.names {
    margin-left: 12px;
}
a {
    font-size: 36px;
}
.topbar {
    display: flex;
    justify-content: flex-end;
}
.menu-item {
    padding: 4px;
    margin-right: 8px;
}
.main {
    display: flex;
    flex-direction: column;
    position: relative;
}
.image-div {
    display: flex;
    justify-content: center;
}


.section {
    padding: 20px;
} */